.loginContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
}

.imageContainer {
    background: url("../public/assets/img/network.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}